<aside>
   <nav class="sidebar py-2 mb-4" >
      <ul class="nav flex-column" id="nav_accordion" >
       
         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> URL <i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion" >
               <li><a class="nav-link" href="/admin/pages/">URL İşlem Listesi</a></li>
                          
            </ul>
         </li>
         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> Kullanıcılar<i class="bi small bi-caret-down-fill"></i> </a>
            <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
               <li><a class="nav-link" href="/admin/category/">Kullanıcı Listesi </a></li>
               <li><a class="nav-link" href="/admin/category/add-category/">Kullanıcı Ekle </a></li>           
            </ul>
         </li>
        
         
      </ul>
   </nav>
</aside>