

      <header id="teach_coders_header" class="header">
         <div class="container">
            <div class="header-row">
               <div class="nav_icon" data-trigger="#my_offcanvas1">
                  <i class="fa fa-bars" aria-hidden="true"></i>
               </div>
               <div class="logo-name">
                  <a href="">  <img src="/frontent/images/logo.png" height="35"></a>
               </div>
               <div class="header-call-to-action">
                  <ul>
                     <li class="subject">
                        <a href="#"><span>Courses Theory</span></a> 
                        <ul class="subject-details">
                           <li><a href="Javascript/">Javascript</a></li>
                           <li><a href="modern-javascript">Modern Javascript</a></li>
                           <li><a>Angular Js</a></li>
                           <li><a>Node Js</a></li>
                           <li><a>Mango Data Base</a></li>
                        </ul>
                     </li>
                     <li class="subject">
                        <a href="#"><span>Courses Video</span></a> 
                        <ul class="subject-details">
                           <li><a>Javascript</a></li>
                           <li><a>Advance Javascript</a></li>
                           <li><a>Angular Js</a></li>
                           <li><a>Node Js</a></li>
                           <li><a>Mango Data Base</a></li>
                        </ul>
                     </li>
                     <li class="subject">
                        <a><span>Example</span></a> 
                        <ul class="subject-details">
                           <li><a href="Javascript/example/">Javascript Example</a></li>
                           <li><a>Modern Javascript Example</a></li>
                           <li><a>Type Script</a></li>
                           <li><a>Angular Js  Example</a></li>
                           <li><a>Node Js Example</a></li>
                           <li><a>Mango Data Base</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <!-- serch box-->
               <input class="serch_course" type="text" name="name" value="" placeholder="Type Your Course.." autocomplete="off">
               <span id="search_data_list"></span>
               <!-- /serch box-->
               <div class="tryself">
                  <a href="Javascript/try-it-your-self-wth-teach-coders">
                  Practice Code
                  </a>
               </div>
            </div>
         </div>
      </header>