<b class="screen-overlay"></b>
      <!-- offcanvas panel -->
      <aside class="offcanvas" id="my_offcanvas1">
         <div class="p-4 bg-light border-bottom">
            <div class="btn-close"></div>
            <h6 class="mb-0"><img src="/frontent/images/logo.png" width="70%" class="img-fluid"></h6>
         </div>
         <!-- 
            <li  class="java_nav">
            This is a DIV element.
            </li> -->
         <div class="Dashboard_nav">
            <ul>
               <!-- <li class="active"> -->
               <li  class="java_nav">
                  <div class="nav_title"><a><img src="/frontent/images/basic-javascript.png" width="20">Javascript</a></div>
                  <ul>
                     <li>
                        <a>JS Introduction</a>
                        <ul>
                           <li><a href="Javascript/">What is Javascript ?</a></li>
                           <li><a href="Javascript/#why_we_learning">Why We Learn Javascript ?</a></li>
                           <li><a href="Javascript/#benifits_of-learning">Benefits of learning javascript</a></li>
                           <li><a href="Javascript/how-many-types-of-script">How many types of script file and how to write it</a></li>
                           <li><a href="Javascript/add-Html-tag-in-javascript">Add Html Tag in Javascript</a></li>
                           <li><a href="Javascript/comments">Comment</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Variable</a>
                        <ul>
                           <li><a href="Javascript/variable">What is Variable</a></li>
                           <li><a href="Javascript/global-local-variable">Type of Variable</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Data Type</a>
                        <ul>
                           <li><a href="data-type">What is Data Type ?</a> </li>
                           <li>
                              <a>Primitive Data Types</a> 
                              <ul>
                                 <li><a href="Javascript/data-type#string">String</a></li>
                                 <li><a href="Javascript/data-type#number">Number</a></li>
                                 <li><a href="Javascript/data-type#boolean">Boolean</a></li>
                                 <li><a href="Javascript/data-type#undefined">Undefined</a></li>
                              </ul>
                           </li>
                           <li>
                              <a>Object Data Types</a> 
                              <ul>
                                 <li><a href="Javascript/data-type#null">Null</a></li>
                                 <li><a href="Javascript/array">Array</a></li>
                                 <li><a href="Javascript/object">Object</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a>Data Type</a>
                        <ul>
                           <li><a href="data-type">What is Data Type ?</a> </li>
                           <li>
                              <a>Primitive Data Types</a> 
                              <ul>
                                 <li><a href="Javascript/data-type#string">String</a></li>
                                 <li><a href="Javascript/data-type#number">Number</a></li>
                                 <li><a href="Javascript/data-type#boolean">Boolean</a></li>
                                 <li><a href="Javascript/data-type#undefined">Undefined</a></li>
                              </ul>
                           </li>
                           <li>
                              <a>Object Data Types</a> 
                              <ul>
                                 <li><a href="Javascript/data-type#null">Null</a></li>
                                 <li><a href="Javascript/array">Array</a></li>
                                 <li><a href="Javascript/object">Object</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a>Javascript Operators</a>
                        <ul>
                           <li><a href="Javascript/operators">What is Operators ?</a></li>
                           <li><a href="Javascript/arthmetic-operators">Arithmetic Operators</a></li>
                           <li><a href="Javascript/assignment-operators">Assignment Opertors</a></li>
                           <li><a href="Javascript/comparison-operators">Comparison Operator</a></li>
                           <li><a href="Javascript/logical-operators">Logical Operators</a></li>
                           <li><a href="Javascript/conditional-operators">conditional operator</a></li>
                           <li><a href="Javascript/concatenation-operators">Concatenation operator</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Control Statements</a>
                        <ul>
                           <li><a href="Javascript/controll-statement">What is Control Statement ?</a></li>
                           <li><a href="Javascript/if-statement">If Statement</a></li>
                           <li><a href="Javascript/if-else"> If Else Statement</a></li>
                           <li><a href="Javascript/nested-if-else">If Else if Statement</a></li>
                           <li><a href="Javascript/switcb-case">Swithch Case Statement</a></li>
                           <li><a href="Javascript/break-and-continue">Continue and Break Statement</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Function</a>
                        <ul>
                           <li><a href="Javascript/function">What is Function</a></li>
                           <li><a href="Javascript/function-without-parameter">Function without Parameter</a></li>
                           <li><a href="Javascript/function-with-parameter">Function with Parameter</a></li>
                           <li><a href="Javascript/function-with-return-value">Function with Return Value</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Events</a>
                        <ul>
                           <li><a href="Javascript/events">What is events ?</a></li>
                           <li><a href="Javascript/events">List of events</a></li>
                        </ul>
                     </li>
                     <!--/7. loops -->
                     <li>
                        <a>Loop</a>
                        <ul>
                           <li><a href="Javascript/loop">What is Loop ?</a></li>
                           <li><a href="Javascript/while-loop">while Loop</a></li>
                           <li><a href="Javascript/do-while-loop">do/while Loop</a></li>
                           <li><a href="Javascript/for-loop">for loop</a></li>
                           <li><a href="Javascript/forEach">forEach</a></li>
                           <li><a href="Javascript/for-in-loop">for/in Loop</a></li>
                           <li><a href="Javascript/for-of-loop">for/Of Loop</a></li>
                        </ul>
                     </li>
                     <!--/topic-->
                     <!--/8. Array -->
                     <li>
                        <a>Array</a>
                        <ul>
                           <li><a href="Javascript/array">Array introduction & Creat Array</a></li>
                           <li><a href="Javascript/new-Array">new Array()</a></li>
                           <li><a href="Javascript/add-or-edit-array">Add Array Value through Index</a></li>
                           <li><a href="Javascript/multidimensional-array">Multidimensional Array</a></li>
                           <li><a href="Javascript/array-with-object">Array With Object</a></li>
                           <li>
                              <a>Array Method</a> 
                              <ul>
                                 <li><a href="Javascript/array-method">What is Array Method</a> </li>
                                 <!--use video no 23-->
                                 <li><a href="Javascript/sort">Sort()</a></li>
                                 <li><a href="Javascript/reverse">reverse()</a></li>
                                 <li><a href="Javascript/pop">pop()</a></li>
                                 <li><a href="Javascript/push">push()</a></li>
                                 <li><a href="Javascript/shift">shift()</a></li>
                                 <li><a href="Javascript/unshift">unshift()</a></li>
                                 <li><a href="Javascript/concat">concat()</a></li>
                                 <li><a href="Javascript/join">join()</a></li>
                                 <li><a href="Javascript/slice">slice()</a></li>
                                 <li><a href="Javascript/splice">splice()</a></li>
                                 <li><a href="Javascript/isArray">isArray()</a></li>
                                 <li><a href="Javascript/indexOf">indexOf()</a></li>
                                 <li><a href="Javascript/lastIndexOf">lastIndexOf()</a></li>
                                 <li><a href="Javascript/includes">includes()</a></li>
                                 <li><a href="Javascript/some">some()</a></li>
                                 <li><a href="Javascript/every">every()</a></li>
                                 <li><a href="Javascript/find">find()</a></li>
                                 <li><a href="Javascript/findIndex">findIndex()</a></li>
                                 <li><a href="Javascript/filter">filter()</a></li>
                                 <li><a href="Javascript/toString">toString()</a></li>
                                 <li><a href="Javascript/valueOf">valueOf()</a></li>
                                 <li><a href="Javascript/fill">fill()</a></li>
                                 <li><a href="Javascript/forEach">forEach()</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <!--/topic-->
                     <!--/9. loops -->
                     <li>
                        <a>Object</a>
                        <ul>
                           <li><a href="object">Object</a></li>
                           <li>
                              <a>Object Value list</a>
                              <ul>
                                 <li><a href="object-string-value">string Value</a> </li>
                                 <li><a href="object-string-number-value">String & Number value</a></li>
                                 <li><a href="object-array-value">Array value</a></li>
                                 <li><a href="object-function-value">function() value</a></li>
                                 <li><a href="object-with-object-value">Object with Object value</a></li>
                              </ul>
                           </li>
                           <li><a href="edit-opject-property-value-and-create-object-with-new-Object-method">Edit / Add Object Property Value</a></li>
                        </ul>
                     </li>
                     <!--/topic-->
                     <!--/8. Array -->
                     <li>
                        <a>Method</a>
                        <ul>
                           <li><a href="Javascript/string-method">String Method</a></li>
                           <li><a href="Javascript/map-method">map() Method</a></li>
                           <li>
                              <a>Number Method</a> 
                              <ul>
                                 <li><a href="Javascript/number-method-details">What is number method ?</a> </li>
                                 <li><a href="Javascript/number-method">Number()</a> </li>
                                 <li><a href="Javascript/parseInt-method">parseInt()</a> </li>
                                 <li><a href="Javascript/parseFloat-method">parseFloat()</a> </li>
                                 <li><a href="Javascript/isInteger-method">isInteger()</a> </li>
                                 <li><a href="Javascript/isFinite-method">isFinite()</a> </li>
                                 <li><a href="Javascript/toFixed-method">toFixed()</a> </li>
                                 <li><a href="Javascript/toPrecision-method">toPrecision ()</a> </li>
                              </ul>
                           </li>
                           <li>
                              <a>Array Method</a> 
                              <ul>
                                 <li><a href="Javascript/array-method">What is Array Method</a> </li>
                                 <!--use video no 23-->
                                 <li><a href="Javascript/sort">Sort()</a></li>
                                 <li><a href="Javascript/reverse">reverse()</a></li>
                                 <li><a href="Javascript/pop">pop()</a></li>
                                 <li><a href="Javascript/push">push()</a></li>
                                 <li><a href="Javascript/shift">shift()</a></li>
                                 <li><a href="Javascript/unshift">unshift()</a></li>
                                 <li><a href="Javascript/concat">concat()</a></li>
                                 <li><a href="Javascript/join">join()</a></li>
                                 <li><a href="Javascript/slice">slice()</a></li>
                                 <li><a href="Javascript/splice">splice()</a></li>
                                 <li><a href="Javascript/isArray">isArray()</a></li>
                                 <li><a href="Javascript/indexOf">indexOf()</a></li>
                                 <li><a href="Javascript/lastIndexOf">lastIndexOf()</a></li>
                                 <li><a href="Javascript/includes">includes()</a></li>
                                 <li><a href="Javascript/some">some()</a></li>
                                 <li><a href="Javascript/every">every()</a></li>
                                 <li><a href="Javascript/find">find()</a></li>
                                 <li><a href="Javascript/findIndex">findIndex()</a></li>
                                 <li><a href="Javascript/filter">filter()</a></li>
                                 <li><a href="Javascript/toString">toString()</a></li>
                                 <li><a href="Javascript/valueOf">valueOf()</a></li>
                                 <li><a href="Javascript/fill">fill()</a></li>
                                 <li><a href="Javascript/forEach">forEach</a></li>
                                 <li><a href="Javascript/for-in-loop">for/in Loop</a></li>
                                 <li><a href="Javascript/for-of-loop">for/Of Loop</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <!--/topic-->
                     <!--/last. Function statement-->
                     <li>
                        <a>Other</a>
                        <ul>
                           <li><a href="">Alert</a></li>
                           <li><a href="">Confirm Box</a></li>
                           <li><a href="">Propt</a></li>
                        </ul>
                     </li>
                     <!--/topic-->
                     <!--/last. Function statement-->
                     <li>
                        <a>Dom</a>
                        <ul>
                           <li><a href="Javascript/dom">What is Dom ?</a></li>
                           <li><a href="Javascript/dom-query-selector">querySelector & querySelectorAll</a></li>
                           <li><a href="Javascript/dom-get-value">get dom value</a></li>
                           <li><a href="Javascript/dom-set-value">set dom value</a></li>
                           <li><a href="Javascript/dom-css-method">DOM CSS Method</a></li>
                           <li>
                              <a javascript="void">Dom Css method list</a> 
                              <ul>
                                 <!--use video no 23-->
                                 <li><a href="Javascript/dom-style">dom style method</a></li>
                                 <li><a href="Javascript/dom-className">dom ClassName</a></li>
                                 <li><a href="Javascript/dom-ClassList">dom ClassList</a></li>
                              </ul>
                           </li>
                           <li><a href="Javascript/dom-style#forEach" style="color:red">addEventListener with forEach</a></li>
                           <li><a href="Javascript/dom-addEventListener">dom addEventListener()</a></li>
                           <li><a href="Javascript/dom-addEventListener-with-capture">dom addEventListener with Capture</a></li>
                           <li><a href="Javascript/dom-removeEventListener">dom removeEventListener </a></li>
                           <li><a href="Javascript/dom-parent-element">dom Parent Element & Prenet Node </a></li>
                           <li><a href="Javascript/dom-children-element">dom Children Element & Children Node </a></li>
                           <li><a href="Javascript/dom-firstElementChild-lastElementChild-firstChild-lastChild">dom firstElementChild, lastElementChild, <br>firstChild, lastChild </a></li>
                           <li><a href="Javascript/dom-nextElementSibling-previousElementSibling-nextSibling-previousSibling">dom nextElementSibling, previousElementSibling, nextSibling, previousSibling</a></li>
                           <li><a href="Javascript/dom-createElement-createTextNode-createComment">dom createElement, createTextNode, createComment</a></li>
                           <li><a href="Javascript/dom-appendChild">appendChild </a></li>
                           <li><a href="Javascript/dom-insertAdjacent">insertAdjacent</a></li>
                           <li><a href="Javascript/dom-replacechild-and-removechild">replaceChild & removeChild</a></li>
                           <li><a href="Javascript/dom-cloneNode">cloneNode</a></li>
                           <li><a href="Javascript/dom-contains">contains</a></li>
                           <li><a href="Javascript/dom-hasAttribute-and-hasChildNodes">hasAttribute</a></li>
                           <li><a href="Javascript/dom-isEqualNode">isEqualNode </a></li>
                           <li><a href="Javascript/dom-css-method">DOM CSS Method</a></li>
                           <li>
                              <a><a javascript="void">Form Event</a></a> 
                              <ul>
                                 <li><a href="Javascript/dom-blur-focus-input-event">Blur Event, Focus Event, input Event</a></li>
                                 <li><a href="Javascript/dom-change-submit-and-invalid-event">select, submit, input</a></li>
                                 <li><a href="Javascript/dom-setInterval&clearInterval">setInterval & clearInterval</a></li>
                                 <li><a href="Javascript/dom-setTimeout-and-clearTimeout">setTimeout & clear Timeout</a></li>
                              </ul>
                           </li>
                           <li>
                              <a><a javascript="void">Window Object</a></a> 
                              <ul>
                                 <li><a href="Javascript/dom-window-with-and-height">Window with & Window height</a></li>
                                 <li><a href="Javascript/dom-window-open-method-and-window-close-method">Window open & Window close</a></li>
                                 <li><a href="Javascript/dom-window-ScrollBy-and-window-scrollTo">Window scrollBy & window ScrollTo</a></li>
                                 <li><a href="Javascript/dom-dom-location-property-and-object">Window property & Object</a></li>
                                 <li><a href="Javascript/dom-window-history-and-his-object">Window history & Object</a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="modern_java_nav">
                  <div class="nav_title"><a><img src="/frontent/images/javascript-logo.png" width="20"> Modern Javascript</a></div>
                  <ul>
                     <li><a href="modern-javascript/let-and-const-variable">Let & Const Variable</a></li>
                     <li><a href="modern-javascript/template-literals">Template Literals</a></li>
                     <li><a href="modern-javascript/arrow-functions">Arrow Functions</a></li>
                     <li><a href="modern-javascript/rest-parameters">Rest Parameters</a></li>
                     <li><a href="modern-javascript/spread-operator">Spread Operator</a></li>
                     <li><a href="modern-javascript/array-destructuring">Array Destructuring</a></li>
                     <li><a href="modern-javascript/object-literals">Object Literals</a></li>
                     <li><a href="modern-javascript/object-destructuring">Object Destructuring</a></li>
                     <li><a href="modern-javascript/class-constructor-and-methods">class, constructor, method (Oops)</a></li>
                     <li><a href="modern-javascript/multiple-class-inheritance">Multiple class inheritance (Oops)</a></li>
                     <li><a href="modern-javascript/javaScript-modules">Modules(Import & Export)</a></li>
                     <li><a href="modern-javascript/javaScript-modules-with-star-and-as-keyword">Modules (* & as keyword)</a></li>
                     <li><a href="modern-javascript/javaScript-call-back-function">Javascript Call Back Function</a></li>
                     <li><a href="modern-javascript/JavaScript-Promise">JavaScript Promise Object</a></li>
                     <li><a href="modern-javascript/JavaScript-Promise-all">JavaScript Promise.all Object</a></li>
                     <li><a href="modern-javascript/JavaScript-ajax">JavaScript Ajax</a></li>
                     <li><a href="modern-javascript/JavaScript-fetch-api">JavaScript Fetch Api</a></li>
                     <li><a href="modern-javascript/JavaScript-fetch-api-async-await">JavaScript async, async <br>(Fetch Api with async-and-await)</a></li>
                     <li><a href="modern-javascript/symbol-data-type">Symbol Data Type</a></li>
                     <li><a href="modern-javascript/symbol-with-iterator">Symbol.iterator</a></li>
                     <li><a href="modern-javascript/custom-iterator">Create custom iterator</a></li>
                     <li><a href="modern-javascript/generator-function">Generator Functions</a></li>
                     <li><a href="modern-javascript/strict-mode">Strict mode</a></li>
                     <li><a href="modern-javascript/exception-handling">Exception (Error) Handling </a></li>
                  </ul>
               </li>
               <li>
                  <div class="nav_title"><a><img src="/frontent/images/angular-js-logo.png" width="20"> Angular Js</a></div>
                  <ul>
                     <li><a>Install Angular</a></li>
                     <li><a>Folder Structure </a></li>
                     <li><a>use Bootstrap in Angular</a></li>
                     <li><a>create component</a></li>
                     <li><a>create Module</a></li>
                     <li><a>Data Binding </a></li>
                     <li><a>Interpolation</a></li>
                     <li><a>Property Binding</a></li>
                     <li><a>Attribute Binding </a></li>
                     <li><a>Event Binding </a></li>
                     <li><a>Two Way Data Binding </a></li>
                     <li><a>Template Reference Variable</a></li>
                     <li><a>ngStyle </a></li>
                     <li><a>ngClass </a></li>
                     <li><a>NgIf </a></li>
                     <li><a>ngfor</a></li>
                     <li><a>Ng switch</a></li>
                     <li><a>Router (Link) </a></li>
                     <li><a>Redirecting Route</a></li>
                     <li><a>Wildcard Route</a></li>
                     <li><a>Set Child Route</a></li>
                     <li><a>Server Side Router</a></li>
                     <li><a>How to create Service in Angular 8</a></li>
                  </ul>
               </li>
               <li>
                  <div class="nav_title"><a><img src="/frontent/images/nod-js-logo.png" width="20"> Node Js</a></div>
                  <ul>
                     <li><a>Install Node JS, NPM, VS Code IDE</a></li>
                     <li><a>Prerequisites For Node.JS</a></li>
                     <li><a>Complete REPL in NodeJS</a></li>
                     <li><a>Mastering the Node.js Core Modules</a></li>
                     <li><a>Module</a></li>
                     <li><a>JS Asynchronous File System Core Modules</a></li>
                     <li><a>Synchronous vs Asynchronous</a></li>
                     <li><a>Asynchronous CRUD Operations</a></li>
                     <li><a>JS OS Module To Get Operating System</a></li>
                     <li><a>PATH Module In Node.JS</a></li>
                     <li><a>CREATE and EXPORT Our Own Modules</a></li>
                     <li><a>CImport NPM Module in Node.JS</a></li>
                     <li><a>CImport Global NPM Module in Node JS</a></li>
                     <li><a>CModule Wrapper Function in Node.JS</a></li>
                     <li><a>CHTTP Module in Node</a></li>
                     <li><a>CNode JS Routing | Handled HTTP Requests</a></li>
                     <li><a>CComplete JSON in Node JS</a></li>
                     <li><a>CCreate Simple API In Node JS</a></li>
                     <li><a>CEvents Module in Node.JS</a></li>
                     <li><a>CReadable &amp; Writable Streams</a></li>
                     <li><a>CStream Pipes in Node JS</a></li>
                     <li><a>CCreate Complete Dynamic Weather Website(App)</a></li>
                  </ul>
               </li>
               <li>
                  <div class="nav_title"><a><img src="/frontent/images/express-js.png" width="20"> Express Js</a></div>
                  <ul>
                     <li><a>Express JS Introduction, Setup</a></li>
                     <li><a>Express JS Routing</a></li>
                     <li><a>Send HTML JSON Data</a></li>
                     <li><a>Serve HTML CSS & JS Files in Express JS</a></li>
                     <li><a>Template Engines (Add Dynamic Content)</a></li>
                     <li><a>Partials</a></li>
                     <li><a>Dynamic 404 error page</a></li>
                     <li><a>Complete Dynamic Website</a></li>
                  </ul>
               </li>
               <li>
                  <div class="nav_title"><a><img src="images/mongo-db-logo.png" width="20"> Mongo DB</a></div>
                  <ul>
                     <li><a>MongoDB Introduction</a></li>
                     <li><a>Installation</a></li>
                     <li><a>Create Database, Collections, and Documents</a></li>
                     <li><a>Insert Documents into Collections</a></li>
                     <li><a>Read or Queries the Documents into Collections</a></li>
                     <li><a>How to Update the Documents into Collections</a></li>
                     <li><a>Delete the Documents into Collections</a></li>
                     <li><a>Install MongoDB GUI Compass</a></li>
                     <li><a>MongoDB CRUD Operations</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="example-banner">
            <div class="add_text">JavaScript Example (Program)</div>
            <a href="Javascript/example">Learn Details</a>
         </div>
      </aside>
      <!-- offcanvas panel .end -->