<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kısaltırız - Hakkımızda</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="URL Shortener Website" name="keywords">
        <meta content="URL Shortener Website" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Header Start -->
            <div class="header">
                <div class="container-fluid">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-3">
                            <div class="">
                                <a href="/home">
                                    <img src="logo4.png" alt="Logo" style="height: 150px;" >
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="topbar">
                                <div class="topbar-col">
                                    <a href="tel:+905051453650"><i class="fa fa-phone-alt"></i>+90 546 234 56 78</a>
                                </div>
                                <div class="topbar-col">
                                    <a href="mailto:kisaltiriz3@gmail.com"><i class="fa fa-envelope"></i>kisaltiriz3@gmail.com</a>
                                </div>
                                <div class="topbar-col">
                                    <div class="topbar-social">
                                        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                                        <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                        <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
                                        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                                        <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="/home" class="nav-item nav-link ">Anasayfa</a>
                                        <a href="/about" class="nav-item nav-link active">Hakkımızda</a>
                                        <a href="/statisticks" class="nav-item nav-link">İstatistikler</a>
                                        <a href="/contact" class="nav-item nav-link">İletişim</a>
                                        <a href="/login" class="btn">Giriş Yap</a>
                                        <a href="/sign_in" class="nav-item nav-link">Kayıt Ol</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Hakkımızda</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Anasayfa</a>
                            <a href="">Hakkımızda</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="url_kisalticii.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-text">
                                <h2>Hakkımızda</h2>
                                <p>
                                    Kısaltırız ekibi olarak kuruluş amacımız her zaman insanların işine yarayacak sistemler, teknolojiler ve uygulamalar üretmektir. Müşterilerimizin memnuniyeti her zaman önceliğimizdir. Hiyerarşik sisteme ihtiyaç duymadan işleri takım çalışmasıyla en iyi şekilde tamamalayabilen ekibimiz sayesinde şirketimizi her gün daha çok güçlendiriyoruz.
                                </p>
                                <p>
                                    Misyonumuz her zaman daha çok ve birlikte çalışmaktır. Etkili iletişim her zaman hem müşterileri ilişkilerimizde hem de çalışan ilişkilerimizde en çok önem verdiğimiz yetkinliklerdendir. 
                                </p>
                                <p>Vizyonumuz daima insanlara en kaliteli ve en hızlı hizmeti sunabilmektir. Sürekli yeniliklere ayak uydurup zamanın ötesine geçmeyi hedefleyen yapımızla çalışanlarımızın ve müşterilemizin en iyi deneyimini yaşamaları için çabalamaya devam edeceğiz.
                                </p>
                                <!-- <a class="btn" href="">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Story Start -->
            <div class="story">
                <div class="container">
                    <div class="section-header">
                        <p>Kuruluş Hikayemiz</p>
                        <h2>Geçmişimiz Hakkında Detaylı Bilgi Edinin</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="story-container">
                                <div class="story-end">
                                    <p>Şimdi</p>
                                </div>
                                <div class="story-continue">

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                               10 Ekim 2022
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Son Üyemizin Aramıza Katılması</h3>
                                                    <p>
                                                        Son düzlükte üçüncü ortağımızın tanıdığı dördüncü ortağımızda ilk ortaklarımızla tanışmış ve yine bir araya gelerek bir projeye adım atmışlardır. Adım attıkları bu projede Hallederiz Grup'un temellerini atmış ve bu adın altında çalışan diğer şirketlerinde temelleri atılmıştır. Bununla birlikte 'Kısaltırız' projesi de açığa çıkmıştır.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <!-- <p class="story-date">
                                                01 Jun 2020
                                            </p> -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Üç ortağın ilk defa bir araya gelmesi</h3>
                                                    <p>
                                                        İlk ortağın ardından üçüncü ortakla bir proje de bir araya gelen kurucu ortaklarımız üçüncü ortağıda işin içine almış ve takım çalışması ile çalıştıkları projenin üstesinden en iyi şekilde gelmişlerdir.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                18 Mart 2022
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="story-year">
                                                <p>2022</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                30 Ekim 2021
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>İlk ortaklarla tanışın</h3>
                                                    <p>
                                                        İlk olarak iki kurucu ortağımızın aynı projede çalışması ile başlayan bu serüvende diğer iki ortağımızda birbiriyle tanışmış ve çeşitli bağlantılarda bulunmuşlardır.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                </div>
                                <div class="story-start">
                                    <p>2021</p>
                                </div>
                                <div class="story-launch">
                                    <div class="story-box">
                                        <div class="story-text">
                                            <h3>Kurucu ortaklarımızın  ilk adımı</h3>
                                            <p>
                                                Tüm kurucu ortaklarımızı ilk defa KOÜ Teknoloji Fakültesi, Bilişim Sistemleri Mühendisliği bölümünde aynı ortamda bulunmuşlardır.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Story End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header">
                        <p>Takım Üyelerimiz</p>
                        <h2>Kadromuzla Tanışın</h2>
                    </div>
                    <br><br><br><br><br>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="team-1.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Ahmet Melih Türkmen</h2><br>
                                    <h3>Backend Developer</h3>
                                    <div class="team-social">
                                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="team-2.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Zeynep Serva Yıldız</h2><br>
                                    <h3>Backend Developer</h3>
                                    <div class="team-social">
                                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="team-3.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Abdullah İşler</h2><br>
                                    <h3>Frontend Developer</h3>
                                    <div class="team-social">
                                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="team-4.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Zehra Betül Taşkın</h2><br>
                                    <h3>Frontend Developer</h3>
                                    <div class="team-social">
                                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->

            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Bize Ulaşın</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Kabaoğlu, Baki Komsuoğlu bulvarı No:515, Umuttepe, 41001 İzmit/Kocaeli</p>
                                <p><i class="fa fa-phone-alt"></i>+90 546 234 56 78</p>
                                <p><i class="fa fa-envelope"></i>kisaltiriz3@gmail.com</p>
                                <div class="footer-social">
                                        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                                        <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                        <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
                                        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                                        <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Hızlı Erişim</h2>
                                <a href="/home">Anasayfa</a>
                                <a href="/about">Hakkımızda</a>
                                <a href="/statisticks">İstatistikler</a>
                                <a href="/contact">İletişim</a>
                                <a href="/login">Giriş Yap</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Diğer</h2>
                                <a href="Kişisel Verileri Koruma Kanunu.pdf">KVKK Metni</a>
                                <a href="Kısaltırız Aydınlatma Metni.pdf">Aydınlatma Metni</a>
                                <a href="Gizlilik Metni.pdf">Gizlilik Politikası</a>
                                <a href="Çerez Politikası.pdf">Çerezler</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-form">
                                <h2>Hakkında</h2>
                                <p>
                                    Kısaltırız ekibi olarak kuruluş amacımız her zaman insanların işine yarayacak sistemler, teknolojiler ve uygulamalar üretmektir. Hiyerarşik sisteme ihtiyaç duymadan işleri takım çalışmasıyla en iyi şekilde tamamlayabilen ekibimiz sayesinde şirketimizi her gün daha çok güçlendiriyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="/home"> 2022 Kısaltırız</a>, Tüm Hakları Saklıdır.</p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="/home">Grup Hallederiz</a> tarafından tasarlanmıştır.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>

